<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Balance Upload</title>
    <!--/*/ <th:block th:include="fragments/headTagFragment :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/general :: header"></th:block> /*/-->

<div class="container">
    <form th:action="@{balance}" method="post">

        <h3>Please choose which card will be topped up</h3>
        <div th:each="card : ${cardlist}">
            <input type="radio" name="card" th:value="${card.id}" th:text="${card.creditCardNumber}"> </input>
        </div>
        <input type="text" id="balance" name="balance" placeholder="Amount"
               class="form-control"/>
        <button type="submit">Upload money</button>
    </form>
</div>
</body>
</html>