<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--/*/ <th:block th:include="fragments/headTagFragment :: head"></th:block> /*/-->

</head>
<body>
<!--/*/ <th:block th:include="fragments/general :: header"></th:block> /*/-->
<div th:each="account : ${listofaccounts}">
    <div>
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${account.getAccountNumber()}"></span>
                </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Credit Card Number</th>
                        <th>Balance</th>
                        <th>Type</th>
                        <th>Expiration Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="card : ${account.getCardList()}">
                        <td th:text="${card.creditCardNumber}"></td>
                        <td th:text="${card.balance}"></td>
                        <td th:text="${card.cardType}"></td>
                        <td th:text="${card.expirationDate}"></td>
                        <td> <button class="btn-success"> <i class="fas fa-user-times ml-2">Edit Card</i></button></td>
                        <td>
                            <form action="#" th:action="@{delete/{id}(id=${card.id})}" method="post">
                                <button class="btn btn-danger">
                                    <i class="fas fa-user-times ml-2">Delete Card</i>
                                </button>
                            </form>
                        </td>
                    </tr>
            </tbody>
            </table>

        </div>
    </div>
        <form action="#" th:action="@{createCreditCard/{id}(id=${account.id})}" method="post">
            <button type="submit" class="btn btn-primary">Create new Card</button>
        </form>
    </div>
</div>
</body>
</html>