

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="header">
        <ul>
            <a href="balance">Balance Upload</a>
            <a href="/templates/user/home?transfer">Transfer Money</a>
            <a href="/templates/user/home?transactions">Transaction Histrory</a>
        </ul>
    </div>

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div>
                <span th:text="${account.getAcountNumber()}"></span>
                <p th:text="${account.getBalance()}"></p>
            </div>

            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

        </div>
    </div>


</div>
</body>
</html>
