<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headTagFragment :: head"></th:block> /*/-->
</head>
<body>
<div class="d-flex" id="wrapper">
    <!--/*/ <th:block th:include="fragments/general :: header"></th:block> /*/-->
</div>
<div>
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Account number : </th>
                    <th>Balance :</th>
                    <th> Account Type</th>
                    <th>Daily Transactional Limit</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${accounts}">
                    <td th:text="${account.getAccountNumber()}"></td>
                    <td th:text="${account.getBalance() + ' HUF'}"></td>
                    <td> STANDARD</td>
                    <td th:text="${account.getDailyTransactionLimit() + ' HUF'}"></td>
                    <td>
                        <form action="#" th:action="@{deleteaccount/{id}(id=${account.id})}" method="post">
                            <button class="btn btn-danger">
                                <i class="fas fa-user-times ml-2">Delete Account</i>
                            </button>
                        </form>
                    </td>
                    <td> <button class="btn-success">Edit</button></td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
    <div>
        <form th:action="@{manageaccounts}" method="post">
            <button class="btn btn-primary">
                <i class="fas fa-user-times ml-2">Create a new Account</i>
            </button>
        </form>
    </div>
</div>
</body>
</html>