<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Home</title>

    <!--/*/ <th:block th:include="fragments/headTagFragment :: head"></th:block> /*/-->
</head>
<body>

<div class="d-flex" id="wrapper">
    <!--/*/ <th:block th:include="fragments/general :: header"></th:block> /*/-->
</div>
<div th:each="account : ${accounts}">
    <div>
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${account.getAccountNumber()}"></span>
                </div>
                    <a th:href="@{/user/transactionHistory/{accountId}(accountId=${account.id})}" style="text-decoration: none">
                        <div>
                            <p> Account Type : STANDARD </p>
                            <p>Balance  <span th:text="${account.getBalance() + ' HUF'}"></span></p>
                        </div></a>
            </div>
        </div>
    </div>
</div>

<div th:if="${not #lists.isEmpty(sortedTranscations)}">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>Recent Transactions</span>
            </div>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Amount</th>
                    <th>Transaction Type</th>
                    <th>Timestamp</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${sortedTranscations}">
                    <td th:text="${transaction?.getAccountFromId()?.accountNumber}"></td>
                    <td  th:text="${transaction?.getAccountToId()?.accountNumber}"></td>
                    <td th:text="${transaction?.getAmount()}"></td>
                    <td th:text="${transaction?.getTransactionType()}"></td>
                    <td th:text="${transaction?.getTimestamp()}"></td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>