<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--/*/ <th:block th:include="fragments/headTagFragment :: head"></th:block> /*/-->

</head>
<body>

<!--/*/ <th:block th:include="fragments/general :: header"></th:block> /*/-->
<a th:href="#">Outgoing</a>
<a href="#?incoming">Incoming</a>
<div th:if="${not #lists.isEmpty(fromList)}">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>Recent Transactions</span>
            </div>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Amount</th>
                    <th>Transaction Type</th>
                    <th>New Balance</th>
                    <th>Timestamp</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${fromList}">
                    <td th:text="${transaction?.getAccountFromId()?.accountNumber}"></td>
                    <td  th:text="${transaction?.getAccountToId()?.accountNumber}"></td>
                    <td th:text="${transaction?.getAmount()}"></td>
                    <td th:text="${transaction?.getTransactionType()}"></td>
                    <td th:text="${transaction?.getAccountFromId()?.balance}"></td>
                    <td th:text="${transaction?.getTimestamp()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>