<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--/*/ <th:block th:include="fragments/headTagFragment :: head"></th:block> /*/-->

</head>
<body>
<!--/*/ <th:block th:include="fragments/general :: header"></th:block> /*/-->
<form action="/user/createtransaction" method="post">
    <p>FromAccount:</p>
    <div th:each="account : ${accounts}">
    <input type="radio" name="account" th:value="${account.id}" th:text="${account.accountNumber}"> Available balance is :  <span th:text=" ${account.balance}"> </span></div>
    <p>ToAccount:</p>
    <input type="text " name="toAccount" placeholder="ToAccountNumber">
    <p>Amount:  <input type="number" id="amount" name="amount" placeholder="Amount"></p>
    <button class="btn-default">Confirm transaction</button>
</form>
</body>
</html>