<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Managment System</title>
</head>
<body>
<div align="center">
    <h1>Employees List</h1>
    <table>
        <thead>
        <tr>
            <th>Employee First Name</th>
            <th>Employee First Name</th>
            <th>Employee Email</th>
        </tr>
        </thead>
            <tbody>
                <tr th:each="employee : ${listEmployees}">
                    <td th:text="${employee.first_name}"></td>
                    <td th:text="${employee.last_name}"></td>
                    <td th:text="${employee.email}"></td>
                </tr>
            </tbody>
    </table>
</div>
</body>
</html>