
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Page</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Last Name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{userName}" placeholder="User Name"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password"  id="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mfa" class="col-sm-3" th:utext="#{label.user.2fa}">Use Two Step Verification</label>
                    <span class="col-sm-5"><input id="mfa" type="checkbox" th:field="*{mfa}" name="mfa" value="true"/></span>
                </div>
                <div class="g-recaptcha col-sm-5"
                     th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
                <span id="captchaError" class="alert alert-danger col-sm-4"
                      style="display:none"></span>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Register User</button>
                    </div>
                </div>

                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

            </form>

        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        options = {
            common: {minChar:8},
            ui: {
                showVerdictsInsideProgressBar:true,
                showErrors:true,
                errorMessages:{
                    wordLength: '<spring:message code="error.wordLength"/>',
                    wordNotEmail: '<spring:message code="error.wordNotEmail"/>',
                    wordSequences: '<spring:message code="error.wordSequences"/>',
                    wordLowercase: '<spring:message code="error.wordLowercase"/>',
                    wordUppercase: '<spring:message code="error.wordUppercase"/>',
                    wordOneNumber: '<spring:message code="error.wordOneNumber"/>',
                    wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'
                }
            }
        };
    });

    $('form').submit(function(event) {
        event.preventDefault();

        var formData= $('form').serialize();
        $.post(serverContext + "/registration", formData, function(data){
            if(data.message == "success") {
                console.log(data)
            }
        }).fail(function(data) {
                grecaptcha.reset();
                if(data.responseJSON.error == "InvalidReCaptcha"){
                    $("#captchaError").show().html(data.responseJSON.message);
                }
            });
    };
</script>
</body>


</html>
