
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verify Page</title>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
    <form autocomplete="off" action="#" th:action="@{/verify}" th:object="${mfa}" method="post" class="form-horizontal" role="form">
        <h2>Verify Form</h2>
        <div class="form-group">
            <div class="col-sm-9">
                <label th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
                       class="validation-message"></label>
                <input type="text" th:field="*{code}" placeholder="Code"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                       class="validation-message"></label>
                <input type="hidden" th:field="*{username}" placeholder="Username"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                       class="validation-message"></label>
                <input type="hidden" th:field="*{password}" placeholder="Password"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block">Verify User</button>
            </div>
        </div>

<!--        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>-->

    </form>
</div>
</body>
</html>